[submodule "typesetting"]
	path = typesetting
	url = git@github.com:jiahaoxiang2000/typesetting.git
[submodule ".claude"]
	path = .claude
	url = git@github.com:jiahaoxiang2000/claude-conf.git
[submodule "SecondPaper"]
	path = SecondPaper
	url = git@github.com:jiahaoxiang2000/SecondPaper.git
[submodule "ThirdPaper"]
	path = ThirdPaper
	url = git@github.com:jiahaoxiang2000/ThirdPaper.git
